@font-face {
    font-family: 'AvenirLTStdRoman';
    src: url('../fonts/AvenirLTStdRoman.eot');
    src: url('../fonts/AvenirLTStdRoman.eot') format('embedded-opentype'),
         url('../fonts/AvenirLTStdRoman.woff2') format('woff2'),
         url('../fonts/AvenirLTStdRoman.woff') format('woff'),
         url('../fonts/AvenirLTStdRoman.ttf') format('truetype'),
         url('../fonts/AvenirLTStdRoman.svg#AvenirLTStdRoman') format('svg');
}

@font-face {
    font-family: 'AvenirLTStdHeavy';
    src: url('../fonts/AvenirLTStdHeavy.eot');
    src: url('../fonts/AvenirLTStdHeavy.eot') format('embedded-opentype'),
         url('../fonts/AvenirLTStdHeavy.woff2') format('woff2'),
         url('../fonts/AvenirLTStdHeavy.woff') format('woff'),
         url('../fonts/AvenirLTStdHeavy.ttf') format('truetype'),
         url('../fonts/AvenirLTStdHeavy.svg#AvenirLTStdHeavy') format('svg');
}
@font-face {
    font-family: 'AvenirLTStdMedium';
    src: url('../fonts/AvenirLTStdMedium.eot');
    src: url('../fonts/AvenirLTStdMedium.eot') format('embedded-opentype'),
         url('../fonts/AvenirLTStdMedium.woff2') format('woff2'),
         url('../fonts/AvenirLTStdMedium.woff') format('woff'),
         url('../fonts/AvenirLTStdMedium.ttf') format('truetype'),
         url('../fonts/AvenirLTStdMedium.svg#AvenirLTStdMedium') format('svg');
}
@font-face {
    font-family: 'AvenirLTStdLight';
    src: url('../fonts/AvenirLTStdLight.eot');
    src: url('../fonts/AvenirLTStdLight.eot') format('embedded-opentype'),
         url('../fonts/AvenirLTStdLight.woff2') format('woff2'),
         url('../fonts/AvenirLTStdLight.woff') format('woff'),
         url('../fonts/AvenirLTStdLight.ttf') format('truetype'),
         url('../fonts/AvenirLTStdLight.svg#AvenirLTStdLight') format('svg');
}
body {
  padding-top: 50px;
  font-family: 'AvenirLTStdLight', Arial, sans-serif;
  background-color:#fff;
}
.navbar-inverse{
	background:#000;
	color:#fff;
}
.navbar-inverse .navbar-brand{
	text-transform: uppercase;
	color:#fff;
}
.starter-template {
  padding: 0 0 40px 0;
  text-align: center;
}
.starter-template h1{
	margin-top:0;
	padding-top:20px;
}.bg-world-log{
	 background: url("../images/background.png") no-repeat top left;
	 background-size:cover;
	 padding:20px 0 0 0 ;
	 font-family: 'AvenirLTStdMedium', Arial, sans-serif;
 }
.bg-world{
	background: url("../images/background.png") no-repeat left -80px;
	background-size:100%;
	background-position:center top;
	padding:35px 0 0 0 ;
	font-family: 'AvenirLTStdMedium', Arial, sans-serif;
}
.bg-world h3{
	color:#fff;
}
.bg-world img{
	margin:0 auto;
}
.starter-template h1, .starter-template .lead, .starter-template h2,.starter-template h3{
	color:#fff;
}
.starter-template h1{
	font-size:2.3em;
}
.starter-template h2{
	font-size:1.5em;
}
.starter-template .lead{
	font-family: 'AvenirLTStdLight', Arial, sans-serif;
	font-size:1.1em;
}
.starter-template h3{
	font-size:1.2em;
	text-transform: uppercase;
	font-family: 'AvenirLTStdRoman', Arial, sans-serif;
	color:#000;
}
.starter-template h3:first-of-type{
	margin-top:30px;
}
.starter-template .btn{
	border-radius:0;
	border:none;
	font-family: 'AvenirLTStdHeavy', Arial, sans-serif;
	width:50%;
}
.container .btn{
	border-radius:0;
	border:none;
	font-family: 'AvenirLTStdHeavy', Arial, sans-serif;
	width:50%;
}
.recap h2{
	text-transform: uppercase;
	font-family: 'AvenirLTStdLight', Arial, sans-serif;
	font-size:1.6em;
}
.recap p{
	font-family: 'AvenirLTStdLight', Arial, sans-serif;
	font-size:1.1em;
}
.s-liste .s-liste-photo{
	clear:both;
	float:left;
	width:30%;
	/*height:210px;*/
	position:relative;
}
.s-liste .s-liste-photo .share{
	width:67px;
	height:67px;
	z-index:5;
	position:absolute;
	bottom:10px;
	right:10px;
	background-image: url("../images/picto-share.png");
	background-repeat:no-repeat;
	display:block;
}
.s-liste .s-liste-photo img{
	height:40vw;
	width:40vw;
	max-width: none !important;
}
.s-liste .btn-liste-map {
	max-width:320px
}
.s-liste .s-liste-text{
	height:40vw;
	margin-left:45vw;
	width:50vw;
	padding:10px 0 0 0;
	text-transform: uppercase;
	font-size:1.3em;
	loat:left;
	border-bottom:1px solid #CCC;
}
.zone-photo{
	position:relative;
}
.zone-photo img, .map-recap img{
	width:100%;
}
.photo-layer{
	width:100%;
	height:20vh;
	overflow: hidden;
	osition:absolute;
	z-index:5;
	ckground:url("../images/photo-layer.png") no-repeat;
	background-color: rgba(2, 214, 181,0.5);
	background-position: center center;
	background-size:cover;
	top:0;
	left:0;
}
.photo-layer img {
	isplay:none;
	width:100%;
	opacity:0.4;
}


.btn-fbk{ 
	ckground: url("../images/btn_facebook.png") no-repeat top left / 45px 100% #284ea1;
	background-image:url("../images/btn_facebook.png");
	background-color:#284ea1;
	background-repeat:no-repeat;
	background-position:top left;
	background-size:45px 100%;
	color:#fff;
	padding-left:45px;
}
.btn-fbk:hover{ 
	background-color:  #6983bd;
	color:#fff;
}
.btn-twt{ 
	background: url("../images/btn_twitter.png") no-repeat top left / 45px 100% #22b4e4;
	color:#fff;
	padding-left:45px;
}
.btn-twt:hover{ 
	background-color: #65cbec;
	color:#fff;
}
.btn-skp{ 
	ckground: url("../images/btn_skip.png") no-repeat top left / 45px 100% #ffcd00;
	background-image:url("../images/btn_skip.png");
	background-color:#ffcd00;
	background-repeat:no-repeat;
	background-position:top left;
	background-size:45px 100%;
	color:#000;
	padding-left:45px;
}
.btn-skp:hover{ 
	background-color: #ffdc4d;
	color:#000;
}
.btn-skp{ 
	ackground: url("../images/btn_skip.png") no-repeat top left / 45px 100% #ffcd00;
	background-image:url("../images/btn_skip.png");
	background-color:#ffcd00;
	background-repeat:no-repeat;
	background-position:top left;
	background-size:45px 100%;
	color:#000;
	padding-left:45px;
}
.btn-skp:hover{ 
	background-color: #ffdc4d;
	color:#000;
}
.btn-map{ 
	ackground: url("../images/btn_map.png") no-repeat top left / 45px 100% #ffcd00;
	background-image:url("../images/btn_map.png");
	background-color:#ffcd00;
	background-repeat:no-repeat;
	background-position:top left;
	background-size:45px 100%;
	color:#000;
	padding-left:50px;
	min-width:250px;
}
.btn-map:hover{ 
	background-color: #ffdc4d;
	color:#000;
}
.btn-action-photo{ 
	ackground: url("../images/btn_action-photo.png") no-repeat top left / 80px 80px #50d9bf;
	background-image:url("../images/btn_action-photo.png");
	background-color:#50d9bf;
	background-repeat:no-repeat;
	background-position:top left;
	background-size:80px 80px;
	color:#000;
	padding-left:90px;
	min-height:80px;
  	text-align:left;
}
.btn-action-photo:hover{ 
	background-color: #8bdfcf;
	color:#000;
}
.btn-action-soumettre{ 
	ckground: url("../images/btn_action-soumettre.png") no-repeat top left / 80px 80px #8FDFCF;
	background-image:url("../images/btn_action-soumettre.png");
	background-color:#8FDFCF;
	background-repeat:no-repeat;
	background-position:top left;
	background-size:80px 80px;
	color:rgba(255,255,255, 0.3);
	padding-left:90px;
	min-height:80px;
  	text-align:left;
  	
  	
	/* Fonctionne déjà sur webkit */
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 1s;
	
	/* Bientôt supporté par Firefox */
	-moz-transition-property: background-color;
	-moz-transition-duration: 1s;
	
	/* … et lorsque ce sera standardisé */
	transition-property: background-color;
	transition-duration: 1s;


	/* Fonctionne déjà sur webkit */
	-webkit-transition-property: color;
	-webkit-transition-duration: 1s;
	
	/* Bientôt supporté par Firefox */
	-moz-transition-property: color;
	-moz-transition-duration: 1s;
	
	/* … et lorsque ce sera standardisé */
	transition-property: color;
	transition-duration: 1s;

}

.btn-action-soumettre.ok {
	color:#000;
	background-color:#50d9bf;
}

.btn-action-soumettre.encours {
	padding-left:0;
	text-align: center;
	background-color: #F92F55;
	background-image:none;
	color:white;
	
}

.btn-liste-map:hover{ 
	background-color: #8bdfcf;
	color:#000;
}
.btn-liste-map{ 
	background-color: #50d9bf;
	bbackground: url("../images/btn_action-map.png") no-repeat top left / 70px 100% #50d9bf;
	color:#000;
	padding:5px 10px;
	mmin-height:70px;
  	text-align:left;
}

a.btn-action:hover{
	text-decoration:none;
}
.btn-action-photo p.titre{ 
	padding:20px 15px 0 15px;
	margin:0;
	font-size:1.1em;
	text-transform:uppercase;
	font-family: 'AvenirLTStdHeavy', Arial, sans-serif;
}
.btn-liste-map p.titre{ 
	line-height: 14px;
	margin:0;
	font-size:1.0em;
	text-transform:uppercase;
	font-family: 'AvenirLTStdHeavy', Arial, sans-serif;
}
.btn-action-soumettre p.titre{ 
	padding:20px 15px 0 15px;
	margin:0;
	font-size:1.5em;
	line-height: 1.1em;
	text-transform:uppercase;
	font-family: 'AvenirLTStdHeavy', Arial, sans-serif;
}
.btn-action-photo p.stitre{ 
	padding:5px 15px 0 15px;
	margin:0;
	font-size:0.9em;
}
.btn-liste-map p.stitre{ 
	ppadding:0 5px 0 0;
	margin:0;
	font-size:0.8em;
	text-transform: none;
}
.vote, .note{
	padding:30px 15px 15px 15px;
	margin:0;
	font-size:1.6em;
	text-transform:uppercase;
	font-family: 'AvenirLTStdLight', Arial, sans-serif;
	color:#6c6969;
}
.action-vote{
	margin:0 -15px;
}
.action-vote span{
	display:inline-block;
	width:105px;
	height:125px;
	background:url("../images/vote.png") no-repeat;
	cursor:pointer;
	margin:0 5px;
}
.action-vote span#vote0{
	background-position: -90px 0px;
}
.action-vote span#vote1{
	background-position: -310px 0px;
}
.action-vote span#vote2{
	background-position: -520px 0px;
}
.action-vote span#vote0:hover, .action-vote span#vote0.selected{
	background-position: -91px -125px;
}
.action-vote span#vote1:hover, .action-vote span#vote1.selected{
	background-position: -311px -125px;
}
.action-vote span#vote2:hover, .action-vote span#vote2.selected{
	background-position: -521px -125px;
}
.action-note{
	margin:0 -15px;
}
.action-note span{
	display:inline-block;
	background:url("../images/note.png") no-repeat;
	cursor:pointer;
	margin:0 0px;
	width:90px;
	height:90px;
}
.action-note span#note0{
	background-position: -55px 9px;
}
.action-note span#note0:hover, .action-note span#note0.selected {
	background-position: -56px -79px;
}
.action-note span#note1{
	background-position: -230px 9px;
}
.action-note span#note1:hover, .action-note span#note1.selected {
	background-position: -231px -79px;
}
.action-note span#note2{
	background-position: -400px 9px;
}
.action-note span#note2:hover, .action-note span#note2.selected {
	background-position: -401px -79px;
}
.action-note span#note3{
	background-position: -566px 0px;
}
.action-note span#note3:hover, .action-note span#note3.selected {
	background-position: -567px -88px;
}
.separateur{
	margin-top:40px;
}
.infos div{
	color:#fff;
	font-family: 'AvenirLTStdMedium', Arial, sans-serif;
	font-size:3.8em;
	line-height:28px;
	margin:0 0 30px 0;
}
.infos div sub{
	font-size:0.3em;
	margin-left:-10px;
}
.infos div span{
	font-size:0.3em;
}
.api-twitter{
	background:#fff;
	min-height:230px;
}
.api-twitter h2{
  font-family: 'AvenirLTStdLight', Arial, sans-serif;
  color:#6c6969;
  text-transform: uppercase;
  margin:0;
  padding: 15px 15px 15px 55px;
  ckground: url("../images/picto-twitter.png") no-repeat 20px 20px;
  background-image:url("../images/picto-twitter.png");
  background-repeat:no-repeat;
  background-position:20px 20px;
  text-align:left;
}
.gmnoprint,.gm-style-cc{
	display:none;
}
.container.recap{
	margin-top:0px;
}


#preloader {
	background-color:rgba(9,51,73, 0.9);
	z-index:100;
	height:100vh;
	width:100vw;
	position:absolute;
	top:0;
	left:0;
	color:white;
	font-size:1.5rem;
	text-align: center;
	background-image: url('../images/loader.gif');
	background-position: center center;
	background-repeat: no-repeat;
}

#loading_text {
	padding-top: 40vh;
}

#preload_description {
	
}

.nohisto {
	padding:20px;
}
.container  .btn.btn-retour{
	background-color: #ffcd00;
	color: #000;
	min-width: 250px; 
	margin-bottom: 20px
}
	
a.retour{
	display: block;
    clear: both;
    text-align: center;
}

.lien-site{
	background-color: white;
	padding: 15px 15px 0 15px;
	font-size: 1.4em;
	height: 40px;
}
.lien-site:hover,
.lien-site:active{
	text-decoration: none;
}
body.ios .s-liste{
	margin-top: 15px;
}

.api-twitter div#example1 ul{
	padding:0;	
}
.api-twitter  li{
	list-style-type: none;
	padding: 5px 8px 6px 8px;
	border-bottom: 1px solid #e8e8e8;
	font: normal normal normal 12px/16px "Helvetica Neue",Roboto,"Segoe UI",Calibri,sans-serif;
    text-decoration: none;
	text-transform: none;
    vertical-align: baseline;
    list-style: none;
}
.api-twitter  li:first-child{
	list-style-type: none;
	padding: 5px 8px 6px 8px;
	border-top: 1px solid #e8e8e8;
}
.api-twitter div#example1{
	text-align: left;
	margin-top: 10px;
}
.api-twitter .media{
	text-align: center;
}
.api-twitter .media img{
	max-width: 100%;
    max-height: 375px;
}
.api-twitter .user img{
    background: #fff;
    border-radius: 4px;
	float:left;
	margin-right:10px;
}
.api-twitter .user span{
	color: #707070;
	display:block;
}
.api-twitter .user span:first-child{
	color: #292f33;
	font-weight: bold;
    padding-top: 5px;
}
.api-twitter .tweet{
	clear: both;	
}
.navbar-brand sup{
	text-transform: lowercase;
	top:0;
}
.action-infoWindow  span#genant {
	background-image: url("../images/genant.png"); 
}
.action-infoWindow  span#choquant {
	background-image: url("../images/choquant.png"); 
}
.action-infoWindow  span#enorme {
	background-image: url("../images/enorme.png"); 
}
.action-infoWindow  span {
	display: block;
    width: 30px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;	
}
.action-infoWindow{
	float:right;
}
.infoWindow img{
	margin-bottom:7px;
}
.infoWindow .info_date{
    display: block;
    font-size: 11px;
    float: left;
}
.lien-site a{
	float:left;
}	
.lien-site a.contact{
	float: right;
}
.partenaires .col-xs-6{
	padding:0 !important;
}
.partenaires .img-responsive{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 90%; 
	width: 150px;
    height: 150px;
}
.partenaires .partenaire-eau-seine{
	background-image: url("../images/partenaire-eau-seine.png");    
}
.partenaires .partenaire-suez{
	background-image: url("../images/partenaire-suez.jpg");    
}
.partenaires .partenaire-revolutionr{
	background-image: url("../images/partenaire-revolutionr.png");    
}
.partenaires .partenaire-aircaraibes{
	background-image: url("../images/partenaire-aircaraibes.jpg");      
}
.partenaires .partenaire-aircaraibes{
	background-image: url("../images/partenaire-aircaraibes.jpg");     
}
.partenaires .partenaire-cnrs{
	background-image: url("../images/partenaire-cnrs.jpg");	    
}
.partenaires .partenaire-cnes{
	background-image: url("../images/partenaire-cnes.png");	    
}
.partenaires .partenaire-ocean{
	background-image: url("../images/partenaire-ocean.jpg");    
}
.partenaires .partenaire-cluster{
	background-image: url("../images/partenaire-cluster.jpg");     
}
.partenaires .partenaire-mnhn{
	background-image: url("../images/partenaire-mnhn.png");	      
}
.partenaires .partenaire-institut-ocean{
	background-image: url("../images/partenaire-institut-ocean.jpg");    
}
.partenaires .partenaire-amaboomi{
	background-image: url("../images/partenaire-amaboomi.png");      
}
.partenaires .partenaire-vnf{
	background-image: url("../images/partenaire-vnf.png");     
}
.partenaires .partenaire-climate{
	background-image: url("../images/partenaire-climate.png");    
}
.partenaires .partenaire-algopack{
	background-image: url("../images/partenaire-algopack.png");     
}
.partenaires .partenaire-green{
	background-image: url("../images/partenaire-green.png");	
    background-size: 70%;   
}
.partenaires .partenaire-explorateurs{
	background-image: url("../images/partenaire-explorateurs.jpg");	     
}
.partenaires .partenaire-deleage{
	background-image: url("../images/partenaire-deleage.png");	     
}
.partenaires .partenaire-degetel{
	background-image: url("../images/partenaire-degetel.jpg");	     
}
.partenaires .partenaire-environnement-solution{
	background-image: url("../images/partenaire-environnement-solution.png");	     
}
.partenaires .partenaire-equalogy{
	background-image: url("../images/partenaire-equalogy.png");	     
}
#navbar ul li a{
	text-transform: uppercase;
}







@media screen and (max-width:370px) {
	.action-vote span {
		display: inline-block;
		width: 53px;
		height: 63px;
		background-image: url("../images/vote.png");
		background-repeat: no-repeat;
		background-size: 361px 125px;
		margin: 0 7px;
	}
	.action-vote span#vote0 {
		background-position: -45px 0px;
	}
	.action-vote span#vote1 {
		background-position:-153px 0px
	}
	.action-vote span#vote2 {
		background-position: -265px 0px;
	}
	.vote, .note {
		    font-size: 1.2em;
	}
	.action-note span {
		background-image: url("../images/note.png");
		background-repeat: no-repeat;
		background-size: 361px 88px;
		margin: 0 0px;
		width: 45px;
		height: 45px;
	}
	.action-note span#note0 {
		background-position: -30px -7px;
	}
	.action-note span#note1 {
		background-position: -115px -3px;
	}
	.action-note span#note2 {
		background-position: -200px -1px;
	}
	.action-note span#note3 {
		background-position: -284px 0px;
	}
	
	.action-vote span#vote0:hover, .action-vote span#vote0.selected {
		background-position: -45px -63px;
	}
	.action-vote span#vote1:hover, .action-vote span#vote1.selected {
		background-position:-153px -63px
	}
	.action-vote span#vote2:hover, .action-vote span#vote2.selected {
		background-position: -265px -63px;
	}
	
	.action-note span#note0:hover, .action-note span#note0.selected {
		background-position: -30px -51px;
	}
	.action-note span#note1:hover, .action-note span#note1.selected {
		background-position: -115px -48px;
	}
	.action-note span#note2:hover, .action-note span#note2.selected {
		background-position: -200px -46px;
	}
	.action-note span#note3:hover, .action-note span#note3.selected {
		background-position: -284px -45px;
	}
	
	.btn-action-soumettre p.titre {
		font-size: 1.3em;
	}
	.s-liste .s-liste-text {
		font-size: 1em;
	}
		
	.btn-action-photo p.titre {
		font-size: 0.9em;	
	}
	.btn-action-photo p.stitre {
		font-size:0.8em;	
	
	
	
	
	
	
	
	
	





}


