<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = 'http://www.w3.org/ns/widgets'
	xmlns:gap = 'http://phonegap.com/ns/1.0'
        id = "com.cerivan.septeco"
        version = "1.2.4">
	
	<name>7e Continent</name>

	<description>
		7e Continent
	</description>

	<author href="http://www.cerivan.com" email="mail@cerivan.com">
		Cerivan
	</author>	 
	
	<preference name="permissions" value="none" />
	<access origin="*" subdomains="true" />
	<preference name="orientation" value="portrait" />
	<preference name="Fullscreen" value="true" />
	<!-- to enable individual permissions use the following examples -->	
	<feature name="http://api.phonegap.com/1.0/camera"/>	
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/device" />
	<feature name="http://api.phonegap.com/1.0/storage"/>
	<feature name="http://api.phonegap.com/1.0/battery"/>
	<!-- <feature name="http://api.phonegap.com/1.0/contacts"/>  -->
	<feature name="http://api.phonegap.com/1.0/notification"/>	
	<!-- ANDROID	 -->
	<feature name="Storage">
       		<param name="android-package" value="org.apache.cordova.Storage"/>
	</feature>
	<feature name="Camera">
    		<param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
	</feature>
 	<feature name="Device">
        	<param name="android-package" value="org.apache.cordova.device.Device" />
 	</feature>	
	<feature name="File">
		 <param name="android-package" value="org.apache.cordova.FileUtils" />
	</feature>
	<feature name="FileTransfer">
   		<param name="android-package" value="org.apache.cordova.FileTransfer" />
	</feature>
	<feature name="Geolocation">
		<param name="android-package" value="org.apache.cordova.geolocation.GeoBroker" />
	</feature>
	<feature name="InAppBrowser">
		<param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
	</feature>
	
	<!-- IOS	 -->
	<feature name="InAppBrowser">
		<param name="ios-package" value="CDVInAppBrowser" />
	</feature>
	<feature name="File">
		<param name="ios-package" value="CDVFile" />
	</feature>
	<feature name="FileTransfer">
		<param name="ios-package" value="CDVFileTransfer" />
	</feature>
	<feature name="Camera">
		 <param name="ios-package" value="CDVCamera" />
    </feature>
	<feature name="Geolocation">
		<param name="ios-package" value="CDVLocation" />
	</feature>
		
	<gap:plugin name="org.apache.cordova.inappbrowser" />
	<gap:plugin name="org.apache.cordova.camera"/>
	<gap:plugin name="org.apache.cordova.file"/>
	<gap:plugin name="org.apache.cordova.file-transfer"/>	
	<gap:plugin name="org.apache.cordova.core.file-transfer" />	
	<gap:plugin name="org.apache.cordova.core.file" />
	<gap:plugin name="org.apache.cordova.splashscreen" />
	<gap:plugin name="org.apache.cordova.geolocation" />
	<gap:plugin name="org.apache.cordova.core.contacts" /> 
	<gap:plugin name="org.apache.cordova.core.dialogs" />
	<gap:plugin name="org.apache.cordova.core.device" />
	<gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.9.0">
		<param name="APP_ID" value="491475361028833" />
		<param name="APP_NAME" value="7ecoTEST" />
	</gap:plugin>
	
    <!-- Define app icon for each platform. -->
	<icon src="img/icon_48x48.png" 		width="48" height="48"/>
	<icon src="img/icon-57.png"         gap:platform="ios"        width="57" height="57" />
	<icon src="img/icon-72.png"         gap:platform="ios"        width="72" height="72" />
    <icon src="img/icon.png"         	gap:platform="ios"        width="76" height="76" />
    <icon src="img/icon@2x.png"         gap:platform="ios"        width="120" height="120" />
    <icon src="img/icon_ipad@2x.png"    gap:platform="ios"        width="152" height="152" />
	<icon src="img/icon@3x.png"         gap:platform="ios"        width="180" height="180" />
	
	<!-- Define app splash screen for each platform. -->
		 
    <gap:splash src="img/header_640x1136px.png" 	gap:platform="ios"     width="640" height="1136" />
	<gap:splash src="img/header_640x1136px.jpg" />
    

</widget>
